@import "./auth.scss";
@import "./accounts.scss";
@import "./loans.scss";
@import "./navbar.scss";
@import "./transactions.scss";
@import "./banks.scss";
@import "./branches.scss";
@import "./users.scss";
@import "./notify.scss";
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Splash&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css');
* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0d1b2a, black);
    height: 100vh;
    width: 100vw; 
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: flex-start !important;
  }

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
html,body{
  height: 100%;
    margin: 0;
}
.appname{
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:15em;
  z-index: 100;
  margin-top: 120px;
  color: #508C9B;
  text-shadow: ivory;

  i{
    margin-left: 340px;
  }
}


