<div class="branch-card" style="padding:40px 20px;">
  <h2 class="branch-name">{{branchName}}</h2>
  <div class="branch-field">
    <span class="field-label" style="padding-left:60px">Accounts:</span>
    <span class="field-value">{{accountCount}}</span>
  </div>
  <div class="branch-field">
    <span class="field-label"  style="padding-left:60px">Loans:</span>
    <span class="field-value">{{loansAvailed}}</span>
  </div>
  <div class="branch-field">
    <span class="field-label"  style="padding-left:60px">Total Deposits:</span>
    <span class="field-value">Rs. {{totalDeposits}}</span>
  </div>
</div>
