<div class="container">
  {{#unless isAuthRoute}}

    {{nav-bar 
    logout=(action "logout") 
     toAccounts=(action "toAccounts")
     todashboard=(action "todashboard")
     toBranch=(action "toBranch")
     toBranches=(action "toBranches")
     toTransactions=(action "toTransactions")
     toLoans=(action "toLoans")
     toBank=(action "toBank")
     toBanks=(action "toBanks")
     toUsers=(action "toUsers")
     }}
  {{/unless}}
  {{outlet}}
</div>


