{{!-- {{outlet}} --}}
{{!-- <h1>Authentication</h1> --}}

{{!-- <h2>Login</h2> --}}
{{auth-form isSignup=false onLogin=(action "login") toSignup=(action "toggleMode" )}}
{{!-- 
<h2>Sign Up</h2>
{{auth-form isSignup=true onSubmit=(action "signupUser")}} --}}
